@charset "UTF-8";

html {
    font-size: 14px;
    -webkit-text-size-adjust: 14px;
}

@media screen and (max-width: 414px) {
    body {
        font-family: 'Hiragino Maru Gothic ProN', sans-serif;
        font-size: 1.0rem;
        margin: 0.5rem auto;
        padding: 0.0rem 0.5rem;
    }

    /* table, multitable */
    table,th,td,tr {
        margin: 1.0rem 0.0rem 1.0rem 1.0rem;
    }
    table.index-cp {
        margin: 1.0rem 0.0rem;
    }

    /* quotation */
    blockquote {
        border: 1px solid #dddddd;
        border-radius: 3px;
        background-color: #ffffff;
        margin: 0.5rem 0.5rem;
        padding: 0.0rem 0.5rem;
        font-size: 1.0rem;
    }

    /* verbatim */
    pre.verbatim {
        border: 2px solid darkgray;
        border-radius: 3px;
        background-color: #f8f8f8;
        margin: 0.5rem 0.5rem;
        padding: 0.5rem;
        overflow: auto;
        font-family: monospace, sans-serif;
        font-size: 1.0rem;
    }

    /* example */
    div.example {
        margin: 0.0rem 1.0rem;
        padding: 0.0rem;
    }

    /* display */
    div.display {
        margin: 0.0rem 1.0rem;
        padding: 0.0rem;
        color: black;
    }

    dd {
        margin: 0.0rem 1.0rem;
    }

    ul, ol {
        margin: 0.0rem;
        padding: 0.0rem 0.0rem 0.0rem 2.0rem;
    }
}

@media screen and (min-width: 415px) {
    body {
        font-size: 1.0rem;
        font-family: 'Hiragino Maru Gothic ProN', sans-serif;
        max-width: 640px;
        margin: 0.5rem auto;
        padding: 1.0rem 1.0rem;
        border: 1px solid #009900;
        border-radius: 0.5rem 0.5rem;
        box-shadow: 2px 2px 3px #888;
    }

    /* table, multitable */
    table,th,td,tr {
        /* border: 1px solid gray; */
        /* border-collapse: collapse; */
        padding: 0.25rem 0.0rem;
        margin: 1.0rem 0.0rem 1.0rem 2.0rem;
    }

    /* quotation */
    blockquote {
        border: 1px solid #dddddd;
        border-radius: 3px;
        background-color: #ffffff;
        margin: 1.0rem 2.0rem;
        padding: 1.0rem 1.0rem;
        font-size: 1.0rem;
    }

    /* verbatim */
    pre.verbatim {
        border: 2px solid darkgray;
        border-radius: 3px;
        background-color: #f8f8f8;
        margin: 0.5rem 2.0rem;
        padding: 0.5rem;
        overflow: auto;
        font-family: monospace, sans-serif;
        font-size: 1.0rem;
    }

    /* example */
    div.example {
        margin: 0.0rem 1.0rem 0.0rem 3.0rem;
        padding: 0.0rem;
    }

    /* display */
    div.display {
        margin: 0.0rem 1.0rem;
        padding: 0.0rem;
        color: black;
    }
}

/********************************************************************/
h1,h2,h3,h4,h5,h6,hr {
    clear: both;
}

h1 {
    margin: 0.5rem 0.0rem 0.0rem 0.0rem;
}

/* chapter, unnumbered */
h2 {
    border-bottom: solid 2px #dddddd;
}

/* section, unnumberedsec */
h3 {
    font-size: 1.5rem;
    border-bottom: solid 1px #dddddd;
}

/* subsection */
h4.subsection {
    font-size: 1.3rem;
    border-bottom: solid 1px #dddddd;
    border-left: solid 3px #dddddd;
    padding: 0px 0px 0px 3px;
}

h4.unnumberedsubsec {
    font-size: 1.3rem;
    border-bottom: solid 1px #dddddd;
    border-left: solid 3px #dddddd;
    padding: 0px 0px 0px 3px;
}

/* subsubsection */
h4.subsubsection {
    font-size: 1.1rem;
    text-decoration: underline;
}

h4.unnumberedsubsubsec {
    font-size: 1.1rem;
    text-decoration: underline;    
}

p {
    line-height: 1.3rem;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

table.menu {
    table-layout: auto;
    width: 97%;
}

table {
    table-layout: fixed;
    width: 97%;
}

td,th {
    vertical-align: top;
    word-wrap: break-word;
}

dt {
    font-weight: bold;
}

dt:before {
    content: "";
    color: red;
}

dt:after {
    content: "";
    color: red;
}

li {
    margin: 0.5rem 0.0rem 0.5rem 0.0rem;
}

/********************************************************************/
/* Block elements                                                   */
pre.example {
    overflow: auto;
    color: red;
    font-family: monospace, sans-serif;
    font-size: 1.0rem;
}

pre.display {
    border: 1px solid red;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 0.0rem 0.0rem;
    padding: 1.0rem;
    overflow: auto;
    font-family: monospace, sans-serif;
    font-size: 1.0rem;
}

/* format */
div.format {
    margin: 0.0rem 1.0rem;
}

pre.format {
    margin: 0 auto;
    /* border: 1px solid #888; */
    /* border-radius: 3px; */
    /* background-color: #ffffff; */
    padding: 1.0rem;
    overflow: auto;
    font-family: monospace, sans-serif;
    font-size: 1.0rem;
}

/* Mu-Ci と usr_toc に対応*/
pre.menu-comment {
    font-family: inherit;
    white-space: pre-wrap;
}

/********************************************************************/
/* Inline elements                                                  */
/* code, env */
/* @command{} */
code {
    font-style: normal;
    font-weight: bold;
    font-size: 1.0rem;
    background-color: #eeeeee;
}

/* kbd */
kbd {
    color: hotpink;
    font-family: inherit;
    font-style: normal;
    font-size: 1.0rem;
}

/* key */
/* tt tag is obsoletely in HTML5. use code tag */
tt.key {
    box-shadow: 1px 1px;
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: #eeeeee;
    margin: 0.0rem;
    padding: 0.0rem 0.2rem;
    font-size: 1.0rem;
}

/* key */
code.tt-key {
    box-shadow: 1px 1px;
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: #eeeeee;
    margin: 0.0rem;
    padding: 0.0rem 0.2rem;
    font-size: 1.0rem;
}

/* samp, option, file */
samp {
    color: green;
    font-family: inherit;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.0rem;
    word-wrap: break-word;
}

/* var */
var {
    color: orange;
    font-family: inherit;
    /* font-family: monospace, sans-serif; */
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.0rem;
}
